body {
background-color:rgba(23, 10, 10, 1);
    }
    
#IconsTopo > i {
color:  rgba(255, 127, 34, 1);
}

.nav-link {
color: white;
font-weight: bold;
font-family: 'Inter', sans-serif;
}

.nav-link:hover {
color: yellow;
}

.Menu-inicio, .Menu-Filmes, .Menu-Series {
display: flex;
align-items: center;
}

.input {
  background-color: white;
  width: 150px;
  border-radius: 8px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  background-color: rgba(217, 217, 217, 1);
  }

  .input:hover {
  background-color: beige;
  cursor: pointer;
  
  }

.Section-Botão >  .btn-dub-leg {
  text-align: center;
}

.btn-dub-leg > button {

font-family: 'Inter', sans-serif;
font-style: italic;
text-indent: uppercase ;
color: white;
background-color: rgba(146, 146, 146, 1);
border-radius: 8px;
margin: 5px;
border: none;

} 
.btn-dub-leg > button:hover {
background-color: rgba(99, 94, 94, 1);
transition: 1s;
}

.col > img {
  
  border-radius: 20px;
  margin: 2%;
  max-width: 90%;
  min-width: 20%;
}
.col > img:hover {
  width: 62%;
  height: 78%;
  animation: 4s;

}
#btn-assistir:hover {
  width: 80px;
  height: 40px;
  animation: 3s;
}
 
#SocialsIcons > a > i{
 

color: red;
background-color:rgb(8, 4, 4);
width: 40px;
height: 40px;
border-radius: 80px;
}




